:host {

    .footer-main-div {
        height: 100px;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        margin-top: -100px;
    }

    .footer-left-div {
        justify-content: center;
        align-items: center;
        display: flex;
        width: 30%;
    }

    .footer-center-div {
        width: 30%;
    }

    .footer-right-div {
        justify-content: center;
        align-items: center;
        display: flex;
        width: 30%;
    }

    fa-icon {
        outline: none;
        opacity: 0.6;
        color: white;
        
        &:hover {
            cursor: pointer;
            opacity: 1;
        }
    }

    @media (max-width: 1024px) {
        h2 {
            font-size: 24px;
        }
        height: 75px;
    }
}
