:host {
    .top-bar {
        background-color: white;
        color: #006599;
        padding-top: 20px;
        padding-bottom: 20px;
        position: absolute;
        right: 0;
        left: 0;
    }

    .back-arrow {
        color: #006599;
        padding-left: 20px;

        &:hover {
            cursor: pointer;
            opacity: 0.5;
        }
    }

    .qr-code-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
