:host {
    img {
        height: auto;
        max-width: 80vw;
        max-height: 60vh;
    }
    
    .qr-code-text {
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .qr-code-text-connected {
        padding: 20px;
        color: green;
        font-size: 18px;
        border-radius: 25px;
        background: white;
        margin-bottom: 0;
    }

    .successfull-icon {
        width: 150px;
    }

    .did-failed-text {
        padding: 20px;
        color: red;
        font-size: 18px;
        border-radius: 25px;
        background: white;
        margin-bottom: 0;

        &:hover {
            cursor: pointer;
            background: red;
            color: white
        }
    }

    mat-form-field.mat-form-field {
        background-color: white;
    }

    [hidden] {
        display: none !important;
    }

    section {
        margin: 0 auto;
    }

    span {
        padding-left: 20px;
    }

    .network-card {
        width: 60vw;
    }

    .example-header-image {
        background-size: cover;
    }
}
