

<div class="container" *ngIf="screen == 'welcome'">
    <img src="./assets/images/proofme.ID-white.png">
    <h1 class="title">
        {{ 'PAGES.INSTALL.WELCOME' | translate }}
    </h1>
    <section>
        <button type="button" (click)="setScreen('selectCountry')"><span>{{ 'PAGES.INSTALL.NEXT_BUTTON' | translate }} </span> <fa-icon class="info-icon" [icon]="['fas', 'arrow-right']"></fa-icon></button>
    </section>
</div>

<div class="container" *ngIf="screen == 'selectCountry'">
    <h1 class="title">
        {{ 'PAGES.INSTALL.SELECT_COUNTRY' | translate }}
    </h1>
    <form>
        <mat-form-field appearance="fill">
            <mat-label>{{ 'PAGES.INSTALL.SELECT_COUNTRY' | translate }}</mat-label>
            <mat-select [(ngModel)]="selectedCountry" name="food">
                <mat-option *ngFor="let country of countries" [value]="country.value">
                    {{country.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
    <section>
        <button type="button" (click)="setScreen('selectLanguage')"><span>{{ 'PAGES.INSTALL.NEXT_BUTTON' | translate }} </span> <fa-icon class="info-icon" [icon]="['fas', 'arrow-right']"></fa-icon></button>
    </section>
</div>

<div class="container" *ngIf="screen == 'selectLanguage'">
    <h1 class="title">
        {{ 'PAGES.INSTALL.SELECT_LANGUAGE' | translate }}
    </h1>
    <section>
        <button type="button" (click)="setScreen('selectInternet')"><span>{{ 'PAGES.INSTALL.NEXT_BUTTON' | translate }} </span> <fa-icon class="info-icon" [icon]="['fas', 'arrow-right']"></fa-icon></button>
    </section>
</div>

<div class="container" *ngIf="screen == 'selectInternet'">
    <h1 class="title">
        {{ 'PAGES.INSTALL.SELECT_INTERNET' | translate }}
    </h1>
    <section>
        <button type="button" (click)="setScreen('selectType')"><span>{{ 'PAGES.INSTALL.NEXT_BUTTON' | translate }} </span> <fa-icon class="info-icon" [icon]="['fas', 'arrow-right']"></fa-icon></button>
    </section>
</div>

<div class="container" *ngIf="screen == 'selectType'">
    <h1 class="title">
        {{ 'PAGES.INSTALL.SELECT_TYPE' | translate }}
    </h1>
    <section>
        <button type="button" (click)="setScreen('addAdmin')"><span>{{ 'PAGES.INSTALL.NEXT_BUTTON' | translate }} </span> <fa-icon class="info-icon" [icon]="['fas', 'arrow-right']"></fa-icon></button>
    </section>
</div>

<div class="container" [hidden]="screen !== 'addAdmin'">
    <h1 class="title">
        {{ 'PAGES.INSTALL.ADD_ADMIN' | translate }}
    </h1>
    <canvas #qrCodeCanvas></canvas>
    <p class="qr-code-text">{{ 'PAGES.INSTALL.ADD_ADMIN_TEXT' | translate }}<br /><b>{{ 'PAGES.INSTALL.PROOFME_APP' | translate }}</b></p>
</div>

<div class="container qr-code" *ngIf="screen == 'connectedAdmin'">
    <p class="qr-code-text-connected"><b>CONNECTED</b><p>Waiting for app to send data</p>
</div>

<div class="container qr-code" *ngIf="screen == 'success'">
    <img src="./assets/images/success-icon.png" class="successfull-icon">
    <p class="qr-code-text-connected"><b>Successfull setup</b></p>
</div>

<!-- Error DID contract enrollment -->
<div class="container qr-code" *ngIf="screen == 'failed'">
    <img src="./assets/images/failed-icon.png" class="successfull-icon">
    <br>
    <b>Signing key was not valid</b>
    <p class="did-failed-text" (click)="retry()"><b>Retry</b></p>
</div>
