<div class="top-container">
    <h1>{{ 'PAGES.INSTALL.TITLE' | translate }}</h1>
</div>

<div class="container" *ngIf="screen == 'welcome'">
    <div class="top-div">
        <h1 class="title">{{ 'PAGES.INSTALL.WELCOME' | translate }}</h1>
    </div>
    <div class="center-div">
        <img src="./assets/images/proofme.ID-white.png">
        <h1 class="title">{{ 'PAGES.HOME.TITLE' | translate }}</h1>
    </div>
    <div class="bottom-div">

    </div>
</div>

<div class="container" *ngIf="screen == 'selectTimezone'">
    <div class="top-div">
        <h1 class="title">
            {{ 'PAGES.INSTALL.SELECT_TIMEZONE' | translate }}
        </h1>
    </div>
    <div class="center-div">
        <mat-form-field class="proofme-selector">
            <mat-label>{{ 'PAGES.INSTALL.SELECT_TIMEZONE' | translate }}</mat-label>
            <mat-select matNativeControl [(ngModel)]="selectedTimezone" name="timezone" panelClass="proofme-selector">
                <mat-option *ngFor="let timezone of timezones" [value]="timezone.value">
                    {{timezone.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="bottom-div">
    </div>
</div>

<div class="container" *ngIf="screen == 'selectLanguage'">
    <div class="top-div">
        <h1 class="title">
            {{ 'PAGES.INSTALL.SELECT_LANGUAGE' | translate }}
        </h1>
    </div>
    <div class="center-div">
        <div class="center-div">
            <mat-form-field class="proofme-selector">
                <mat-label>{{ 'PAGES.INSTALL.SELECT_LANGUAGE' | translate }}</mat-label>
                <mat-select matNativeControl [(ngModel)]="selectedLanguage" name="language" panelClass="proofme-selector">
                    <mat-option *ngFor="let language of languages" [value]="language.value">
                        {{language.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="bottom-div">
    </div>
</div>

<div class="container" *ngIf="screen == 'selectInternet'">
    <div class="top-div">
        <h1 class="title">
            {{ 'PAGES.INSTALL.SELECT_INTERNET' | translate }}
        </h1>
    </div>
    <div class="center-div">
    </div>
    <div class="bottom-div">
    </div>
</div>

<div class="container" *ngIf="screen == 'selectType'">
    <div class="top-div">
        <h1 class="title">
            {{ 'PAGES.INSTALL.SELECT_TYPE' | translate }}
        </h1>
    </div>
    <div class="center-div">
    </div>
    <div class="bottom-div">
    </div>
</div>

<div class="container" [hidden]="screen !== 'addAdmin'">
    <div class="top-div">
        <h1 class="title">
            {{ 'PAGES.INSTALL.ADD_ADMIN' | translate }}
        </h1>
    </div>
    <div class="center-div">
        <canvas #qrCodeCanvas></canvas>
    </div>
    <div class="bottom-div">
        <h1 class="title">{{ 'PAGES.INSTALL.ADD_ADMIN_TEXT' | translate }}</h1>
        <h1 class="title"><b>{{ 'PAGES.INSTALL.PROOFME_APP' | translate }}</b></h1>
    </div>
</div>

<div class="container qr-code" *ngIf="screen == 'connectedAdmin'">
    <p class="qr-code-text-connected"><b>CONNECTED</b><p>Waiting for app to send data</p>
</div>

<div class="container qr-code" *ngIf="screen == 'success'">
    <img src="./assets/images/success-icon.png" class="successfull-icon">
    <p class="qr-code-text-connected"><b>Successfull setup</b></p>
</div>

<!-- Error DID contract enrollment -->
<div class="container qr-code" *ngIf="screen == 'failed'">
    <img src="./assets/images/failed-icon.png" class="successfull-icon">
    <br>
    <b>Signing key was not valid</b>
    <p class="did-failed-text" (click)="retry()"><b>Retry</b></p>
</div>

<div class="bottom-container">
    <div class="bottom-left-div">
        <button *ngIf="prev != null" class="blue-button" type="button" (click)="setScreen(prev)">{{ 'PAGES.INSTALL.PREV_BUTTON' | translate }}</button>
    </div>

    <div class="bottom-center-div">

    </div>

    <div class="bottom-right-div">
        <button *ngIf="next != null" class="blue-button" type="button" (click)="setScreen(next)">{{ 'PAGES.INSTALL.NEXT_BUTTON' | translate }}</button>
    </div>
</div>
