<div class="top-container">
    <h1>{{ 'PAGES.HOME.TITLE' | translate }}</h1>
</div>

<div class="container" [hidden]="hideVideo">
<!--    <img src="./assets/images/proofme.ID-white.png">-->
    <video class="video" id="video" autoplay="true" playsinline="true"></video>
<!--    <h2 class="title">-->
<!--        {{ 'PAGES.HOME.TITLE2' | translate }}-->
<!--    </h2>-->
</div>

<div class="container error" *ngIf="status == 2">
    <fa-icon class="info-icon" [icon]="['fas', 'times']" size="10x"></fa-icon>
    <h1 class="title">
        {{ 'PAGES.HOME.ERROR' | translate }}
    </h1>
</div>

<div class="container success" *ngIf="status == 3">
    <fa-icon class="info-icon" [icon]="['fas', 'check']" size="10x"></fa-icon>
    <h1 class="title">
        {{ 'PAGES.HOME.SUCCESS' | translate }}
    </h1>
</div>

<div class="bottom-container">
    <div class="bottom-left-div">
        <mat-icon class="footer" aria-hidden="false" aria-label="Enroll" [routerLink]="['/enroll']">person_add_alt_1</mat-icon>
    </div>

    <div class="bottom-center-div">
        <mat-icon class="footer" aria-hidden="false" aria-label="Settings" (click)="setStatus(2)">close</mat-icon>
        <mat-icon class="footer" aria-hidden="false" aria-label="Settings" (click)="setStatus(3)">check</mat-icon>
    </div>

    <div class="bottom-right-div">
        <mat-icon class="footer" aria-hidden="false" aria-label="Settings" [routerLink]="['/config']">settings</mat-icon>
    </div>
</div>
