<div class="container" *ngIf="status == 0">
    <img src="./assets/images/proofme.ID-white.png">
    <h1 class="title">
        {{ 'PAGES.HOME.TITLE' | translate }}
    </h1>
    <h2 class="title">
        {{ 'PAGES.HOME.TITLE2' | translate }}
    </h2>
</div>

<div class="container error" *ngIf="status == 2">
    <fa-icon class="info-icon" [icon]="['fas', 'times']" size="10x"></fa-icon>
    <h1 class="title">
        {{ 'PAGES.HOME.ERROR' | translate }}
    </h1>
</div>

<div class="container success" *ngIf="status == 3">
    <fa-icon class="info-icon" [icon]="['fas', 'check']" size="10x"></fa-icon>
    <h1 class="title">
        {{ 'PAGES.HOME.SUCCESS' | translate }}
    </h1>
</div>

<div class="footer-main-div">
    <div class="footer-left-div">
        <fa-icon class="info-icon" [routerLink]="['/enroll']" [icon]="['fas', 'user-plus']" size="5x"></fa-icon>
    </div>

    <div class="footer-center-div">

    </div>

    <div class="footer-right-div">
        <fa-icon class="info-icon" [routerLink]="['/config']" [icon]="['fas', 'cog']" size="5x"></fa-icon>
    </div>
</div>
