:host {
  img {
    height: auto;
    max-width: 80vw;
    max-height: 60vh;
  }

  .container.success {
    background: forestgreen;
  }

  .container.error {
    background: indianred;
  }

  .video {
    overflow: hidden;
  }

  fa-icon {
    outline: none;
    opacity: 0.6;
    color: white;

    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }

  @media (max-width: 1024px) {
    h2 {
      font-size: 24px;
    }
    height: 75px;
  }

  video {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    align-self: center;
  }
}
