<div class="container" *ngIf="status == 0">
    <img src="./assets/images/proofme.ID-white.png">
    <h1 class="title" (click)="setStatus(2)">
        {{ 'PAGES.HOME.TITLE' | translate }}
    </h1>
    <h2 class="title" (click)="setStatus(3)">
        {{ 'PAGES.INSTALL.TITLE' | translate }}
    </h2>
</div>

<div class="container error" *ngIf="status == 2">
    <fa-icon class="info-icon" [icon]="['fas', 'times']" size="10x"></fa-icon>
    <h1 class="title" (click)="setStatus(0)">
        {{ 'PAGES.HOME.ERROR' | translate }}
    </h1>
</div>

<div class="container success" *ngIf="status == 3">
    <fa-icon class="info-icon" [icon]="['fas', 'check']" size="10x"></fa-icon>
    <h1 class="title" (click)="setStatus(0)">
        {{ 'PAGES.HOME.SUCCESS' | translate }}
    </h1>
</div>

<div class="container qr-code" *ngIf="status == 4">
    <p>Welcome to the setup of the kiosk, please setup with your information</p>
    <canvas #qrCodeCanvas></canvas>
    <p class="qr-code-text">Scan this QR code with the<br /><b>ProofMe.ID App</b></p>
</div>

<div class="container qr-code" *ngIf="status == 5">
    <p class="qr-code-text-connected"><b>CONNECTED</b><p>Waiting for app to send data</p>
</div>

<div class="container qr-code" *ngIf="status == 6">
    <img src="/assets/images/success-icon.png" class="successfull-icon">
    <p class="qr-code-text-connected"><b>Successfull setup</b></p>
</div>

<!-- Error DID contract enrollment -->
<div class="container qr-code" *ngIf="status == 7">
    <img src="/assets/images/failed-icon.png" class="successfull-icon">
    <br>
    <b>Signing key was not valid</b>
    <p class="did-failed-text" (click)="retry()"><b>Retry</b></p>
</div>